<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx.xsd">

<context:property-placeholder location="classpath:properties/*.properties"/>
<!-- 单机版 -->
<!-- solr.baseURL=http://192.168.25.128:8081/solr -->
<!-- <bean class="org.apache.solr.client.solrj.impl.HttpSolrServer">
<constructor-arg name="baseURL" value="${solr.baseURL}"></constructor-arg>
</bean> -->

<!-- 集群版 -->
<!--new CloudSolrServer(String zkHost) -->
<!-- solrCloud.zkHost=192.168.25.128:2182,192.168.25.128:2183,192.168.25.128:2184 -->
<bean class="org.apache.solr.client.solrj.impl.CloudSolrServer">
<constructor-arg name="zkHost" value="${solrCloud.zkHost}"></constructor-arg>
<property name="defaultCollection" value="${solrCloud.DefaultCollection}"></property>
</bean>
</beans>