<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.taotao.search.mapper.SearchItemMapper">
	<select id="getSearchItemList"
		resultType="com.taotao.common.pojo.SearchItem">
		select
		a.id,a.title,a.image,a.price,a.sell_point,
		b.name as
		category_name , c.item_desc
		from tb_item a,tb_item_cat b,tb_item_desc c
		where a.cid=b.id
		and a.id=c.item_id
	</select>

	<select id="getSearchItemListById"
		resultType="com.taotao.common.pojo.SearchItem" parameterType="string">
		select
		a.id,a.title,a.image,a.price,a.sell_point,
		b.name as
		category_name , c.item_desc
		from tb_item a,tb_item_cat b,tb_item_desc c
		where a.cid=b.id
		and a.id=c.item_id
		and a.id in
		<foreach collection="array" item="id" separator="," open="("
			close=")">
			#{id}
		</foreach>
	</select>
</mapper>